<app-header></app-header>

<div class="sidebar">
    <div class="logo-details">
      <i class='fa fa-bars'></i>
        <div class="logo_name"><img [src]="'assets/img/maleprofessor.png'" width="55" height="50"> PROFESSOR </div>
        <i class='fa' id="btn" ></i>
    </div>
    <ul class="nav-list">
      <li [routerLink]="['/editprofessorprofile']">
        <a>
          <i class='fa fa-edit'></i>
          <span class="links_name">Edit Profile</span>
        </a>
         <span class="tooltip">Edit Profile</span>
      </li>
      <li [routerLink]="['/approveprofessor']">
        <a>
          <i class='fa fa-check-square'></i>
          <span class="links_name">Approval Status</span>
        </a>
         <span class="tooltip">Approval Status</span>
      </li>
      <li [routerLink]="['/addCourse']">
       <a>
         <i class='fa fa-cart-plus' ></i>
         <span class="links_name">Add Course</span>
       </a>
       <span class="tooltip">Add Course</span>
     </li>
     <li [routerLink]="['/addchapter']">
      <a>
        <i class='fa fa-book' ></i>
        <span class="links_name">Add Chapters</span>
      </a>
      <span class="tooltip">Add Chapters</span>
    </li>
     <li [routerLink]="['/mycourses']">
      <a>
        <i class='fa fa-graduation-cap' ></i>
        <span class="links_name">My Learning</span>
      </a>
      <span class="tooltip">My Learning</span>
    </li>
    <li [routerLink]="['/mywishlist']">
      <a>
        <i class='fa fa-heart' ></i>
        <span class="links_name">My Wishlist</span>
      </a>
      <span class="tooltip">My Wishlist</span>
    </li>
     <li [routerLink]="['/courselist']">
       <a>
         <i class='fa fa-list' ></i>
         <span class="links_name">Course Llist</span>
       </a>
       <span class="tooltip">Course List</span>
     </li>
     <li [routerLink]="['/professorlist']">
       <a>
         <i class='fa fa-user-o' ></i>
         <span class="links_name">Professors</span>
       </a>
       <span class="tooltip">Professors</span>
     </li>
     <li [routerLink]="['/userlist']">
       <a>
         <i class='fa fa-user' ></i>
         <span class="links_name">Users</span>
       </a>
       <span class="tooltip">Users</span>
     </li>
     <li style="align-content: center;" class="profile">
         <div class="profile-details">
           <div class="name_job">
             <div style="align-content: center; font-weight: bolder;" class="name">{{loggedUser}}</div>
             <div class="job" style="align-content: center; font-weight: bolder;">Role : {{currRole}}</div>
           </div>
         </div>
         <i class='bx bx-log-out' id="log_out" ></i>
     </li>
    </ul>
  </div>
  <div class="home-section" style="background-image: url('assets/img/24205971.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center; width: 100%; height: 100vh; padding: 10px;">
    <div class="container">
        <div class="row">
            <div class="headtxt">🚀 Greetings from Professor Dashboard 🎓✨</div>
            
            <!-- Main Dashboard Cards -->
            <div class="dashboard-card">
                <div class="card-content">
                    <div class="card-image">
                        <img src="assets/img/courses.gif" alt="Courses">
                        <i class="fa fa-star star-icon"></i>
                    </div>
                    <div class="card-text">
                        <div class="text">📘 Courses</div>
                        <div class="sub-text">{{courses | async}} courses available</div>
                    </div>
                </div>
            </div>

            <div class="dashboard-card">
                <div class="card-content">
                    <div class="card-image">
                        <img src="assets/img/learner.gif" alt="Learners">
                        <i class="fa fa-star star-icon"></i>
                    </div>
                    <div class="card-text">
                        <div class="text">🧑‍🏫 Learners</div>
                        <div class="sub-text">
                            {{enrollmentcount | async}} enrollments made by {{enrollments | async}} learners
                        </div>
                    </div>
                </div>
            </div>

            <div class="dashboard-card">
                <div class="card-content">
                    <div class="card-image">
                        <img src="assets/img/chapter.gif" alt="Chapters">
                        <i class="fa fa-star star-icon"></i>
                    </div>
                    <div class="card-text">
                        <div class="text">📘 Chapters</div>
                        <div class="sub-text">
                            {{chapters | async}} courses with detailed chapters
                        </div>
                    </div>
                </div>
            </div>

            <div class="dashboard-card">
                <div class="card-content">
                    <div class="card-image">
                        <img src="assets/img/fav.gif" alt="Favourites">
                        <i class="fa fa-star star-icon"></i>
                    </div>
                    <div class="card-text">
                        <div class="text">❤️ Favourites</div>
                        <div class="sub-text">
                            {{wishlist | async}} courses are loved by learners
                        </div>
                    </div>
                </div>
            </div>
            <div class="dashboard-card">
              <div class="card-content">
                  <div class="card-image">
                      <img src="assets/img/coursecos.gif" alt="Favourites">
                      <i class="fa fa-star star-icon"></i>
                  </div>
                  <div class="card-text">
                      <div class="text">🎨 Course Customization</div>
                      <div class="sub-text">
                        Enable live sessions for enrolled learners.
                      </div>
                  </div>
              </div>
          </div>
          <div class="dashboard-card">
            <div class="card-content">
                <div class="card-image">
                    <img src="assets/img/analysis.gif" alt="Favourites">
                    <i class="fa fa-star star-icon"></i>
                </div>
                <div class="card-text">
                    <div class="text">Analytics Dashboard</div>
                    <div class="sub-text">
                       Total Hours Spent by Learners
                    </div>
                </div>
            </div>
        </div>
            
              
  
           
            
  
             
       
          
            
    
 
</div>


<app-footer></app-footer>