@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Merienda+One&family=Staatliches&display=swap');

.btn-primary
{
   background-color: rgb(13, 26, 122);
   border-radius: 10px;
   font-weight: bold;
}
.btn-primary:hover
{
   background-color: rgb(99, 4, 122);
   cursor: pointer;
}
.heading-text
{
    font-weight: bolder;
    font-size: 40px;
    margin-top: 3%;
    color: rgb(78, 4, 83);
    font-family: 'Aladin', cursive;
    letter-spacing: 1px;
    margin-left: 42%;
}