<app-header></app-header>

<div class="sidebar">
    <div class="logo-details">
      <i class='fa fa-bars'></i>
        <div class="logo_name"><img [src]="'assets/img/male.png'" width="55" height="50"> USER </div>
        <i class='fa' id="btn" ></i>
    </div>
    <ul class="nav-list">
      <li [routerLink]="['/edituserprofile']">
        <a>
          <i class='fa fa-edit'></i>
          <span class="links_name">Edit Profile</span>
        </a>
         <span class="tooltip">Edit Profile</span>
      </li>
      <li [routerLink]="['/courselist']">
       <a>
         <i class='fa fa-trophy' ></i>
         <span class="links_name">Start Learning</span>
       </a>
       <span class="tooltip">Start Learning</span>
     </li>
     <li [routerLink]="['/mycourses']">
        <a>
          <i class='fa fa-graduation-cap' ></i>
          <span class="links_name">My Learning</span>
        </a>
        <span class="tooltip">My Learning</span>
      </li>
      <li [routerLink]="['/mywishlist']">
        <a>
          <i class='fa fa-heart' ></i>
          <span class="links_name">My Wishlist</span>
        </a>
        <span class="tooltip">My Wishlist</span>
      </li>
     <li [routerLink]="['/courselist']">
       <a>
         <i class='fa fa-list' ></i>
         <span class="links_name">Courses</span>
       </a>
       <span class="tooltip">Courses</span>
     </li>
     <li [routerLink]="['/professorlist']">
       <a>
         <i class='fa fa-user-o' ></i>
         <span class="links_name">Professors</span>
       </a>
       <span class="tooltip">Professors</span>
     </li>
     <li [routerLink]="['/userlist']">
       <a>
         <i class='fa fa-user' ></i>
         <span class="links_name">Users</span>
       </a>
       <span class="tooltip">Users</span>
     </li>
     <li style="align-content: center;" class="profile">
         <div class="profile-details">
           <div class="name_job">
             <div style="align-content: center; font-weight: bolder;" class="name">{{loggedUser}}</div>
             <div class="job" style="align-content: center; font-weight: bolder;">Role : {{currRole}}</div>
           </div>
         </div>
         <i class='bx bx-log-out' id="log_out" ></i>
     </li>
    </ul>
  </div>
  
  <div class="home-section">
    <div class="container">
        <div class="row">
            <div class="headtxt">
                <b>"Welcome aboard!Your dashboard awaits.🚀"</b>
            </div>

            <!-- Main Dashboard Cards -->
            <div class="dashboard-card" id="courses">
                <div class="card-header">
                  <img src="assets/img/courses.gif" alt="Courses" class="card-icon" style="width: 350px; height: 180px;">

                </div>
                <div class="text" style="color: #8e44ad;">📘 Courses</div>
                <div class="sub-text">
                    <ul>
                        <li><b>Number:</b> 50+ available courses</li>
                        <li><b>Categories:</b> Programming, Design, Marketing</li>
                        <li><b>New Launch:</b> Python Advanced</li>
                    </ul>
                </div>
            </div>

            <div class="dashboard-card" id="learners">
                <div class="card-header">
                    <img src="assets/img/learner.gif" alt="Learners" class="card-icon" style="width: 350px; height: 180px;">
                </div>
                <div class="text" style="color: #27ae60;">🧑‍🏫 Learners</div>
                <div class="sub-text">
                    <ul>
                        <li><b>Total:</b> 1500+ enrollments</li>
                        <li><b>Active Learners:</b> 1200+ daily</li>
                        <li><b>Top Performer:</b> John Doe</li>
                    </ul>
                </div>
            </div>

            <div class="dashboard-card" id="chapters">
                <div class="card-header">
                    <img src="assets/img/fav.gif" alt="Chapters" class="card-icon" style="width: 350px; height: 180px;">
                </div>
                <div class="text" style="color: #2980b9;">📘 Chapters</div>
                <div class="sub-text">
                    <ul>
                        <li><b>Total:</b> 300+ chapters covered</li>
                        <li><b>Detailed Sections:</b> Yes</li>
                        <li><b>Interactive Examples:</b> Included</li>
                    </ul>
                </div>
            </div>

            <div class="dashboard-card" id="favourites">
                <div class="card-header">
                    <img src="assets/img/chapter.gif" alt="Favourites" class="card-icon"style="width: 350px; height: 180px;">
                </div>
                <div class="text" style="color: #e74c3c;">❤️ Favourites</div>
                <div class="sub-text">
                    <ul>
                        <li><b>Top Courses:</b> ReactJS, NodeJS</li>
                        <li><b>Favorite by:</b> 800+ learners</li>
                        <li><b>Trending:</b> Java for Beginners</li>
                    </ul>
                </div>
            </div>
        </div>

       
        
    </div>
</div>


<app-footer></app-footer>